FROM <%= @basename %>

<%- @hooks.each do |hook| -%>
<%= hook %>
<%- end -%>

<%- if not @debs.empty? -%>
COPY <%= @debs.join(" ") %> /tmp/
<%- end -%>
RUN groupadd -r user && \
    useradd -r -g user -d /home/user -m user && \
    apt-get update && \
<%- if not @debs.empty? -%>
    dpkg -i --force-depends --force-conflicts <%= (@debs.map { |x| " /tmp/" + x }).join() %> && \
    apt-get -f -y install && \
<%- end -%>
<%- if not @packages.empty? -%>
    apt-get -f -y --no-install-recommends install <%= @packages.join(" ") %> && \
<%- end -%>
    apt-get clean
USER user
WORKDIR /home/user
